body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container-table {
  display: table;
  height: 100%;
}

.property-table {
  margin-top: 10px;
  margin-left: 20px;
  width: auto;
}

table.property-table,
table.property-table th,
table.property-table td {
  padding: 5px;
  border-top-style: solid;
  border-top-width: 1px;
}

.property-table .property-label {
  font-weight: 600;
  color: #6f6f6f;
}

.property-table .property-value {
  margin: 0px 5px;
  padding-bottom: 1.1em;
}

.vertical-center-row {
  display: table-cell;
  vertical-align: middle;
}

.fs-7 {
  font-size: 7px;
}

.fs-12 {
  font-size: 12px;
}

.fs-5 {
  font-size: 5px;
}

ul.screen-toggle {
  text-align: center;
  margin: 0 auto;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul.screen-toggle > li {
  padding-bottom: 5px;
  padding-top: 5px;
  color: #6f6f6f;
}

ul.screen-toggle > li.active {
  /*label-danger bootstrap color*/
  color: #d9534f;
  font-weight: bold;
}

ul.screen-toggle > li:nth-of-type(1).active ~ hr {
  margin-left: 0%;
}

ul.screen-toggle > li:nth-of-type(2).active ~ hr {
  margin-left: 50%;
}

ul.screen-toggle > hr {
  height: 0.25rem;
  width: 50%;
  margin: 0;
  /*label-danger bootstrap color*/
  background: #d9534f;
  border: none;
  transition: 0.3s ease-in-out;
}

ul.screen-toggle > hr.divides-two {
  width: 50%;
}

ul.screen-toggle > li:nth-of-type(2).active ~ hr.divides-three {
  margin-left: 33.33%;
}

ul.screen-toggle > li:nth-of-type(3).active ~ hr.divides-three {
  margin-left: 66.66%;
}

ul.screen-toggle > hr.divides-three {
  width: 33.33%;
}

.stats.table {
  margin: auto;
}

.player-match-stats tbody {
  border-bottom: 2px solid #f1f2f3;
}

.player-match-stats td:first-child {
  width: 30%;
  font-weight: 500;
}

.stats td {
  width: 2%;
  padding-left: 4px;
  padding-right: 4px;
}

.player-match-stats.batting-match-stats tr:nth-child(2) {
  border-top-style: hidden;
  width: 100%;
}

.player-match-stats.batting-match-stats td:nth-child(2) {
  width: 30%;
  color: #6f6f6f;
  font-weight: 400;
}

.player-match-stats.batting-match-stats tr:nth-child(2) td {
  padding-top: 0px;
  padding-left: 10px;
  color: #6f6f6f;
  font-weight: 400;
  font-size: 12px;
}

.player-match-stats.bowling-match-stats th,
.player-match-stats.bowling-match-stats td {
  padding-left: 4px;
  padding-right: 4px;
}

.dropdown-item span:first-child {
  display: inline-block;
  text-align: left;
}

.dropdown-item span:last-child {
  display: block;
  text-align: left;
  color: #bdbdbd;
}

.row-display {
  padding-top: 15px;
  padding-bottom: 15px;
  border-width: 2px 0;
  border-color: #f1f2f3;
  border-style: solid;
}

.row-display > span {
  color: #6f6f6f;
}

/* For making panels have chevron, create a span
element with class chevron-up-down after div in panel 
header */
.panel-title > a > div > span.chevron-up-down::after {
  /* symbol for "opening" panels */
  font-family: 'Glyphicons Halflings'; /* essential for enabling glyphicon */
  content: '\e113'; /* adjust as needed, taken from bootstrap.css */
  color: grey; /* adjust as needed */
}
.panel-title > a.collapsed > div > span.chevron-up-down::after {
  /* symbol for "collapsed" panels */
  content: '\e114'; /* adjust as needed, taken from bootstrap.css */
}

.run-btn {
  margin-bottom: 4px;
}

li.dropdown-item {
  font-size: 1.1em;
  padding: 5px 0px;
}

div#ball-capture {
  border: 2px ridge #eee;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 20px;
}

div.expiry-timer {
  text-align: center;
}

div.expiry-timer .timer-text {
  font-size: 16px;
}

div.expiry-timer .header-text {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.1;
}

.ballevent-collapse {
  height: 50%;
}

.ballevent-collapse .panel {
  position: relative;
}

.ballevent-collapse .panel-default > .panel-heading {
  color: #333;
  background-color: #f5f5f5;
  border-color: #ddd;
  width: 75px;
}

.ballevent-collapse .panel-heading {
  width: 75px;
  padding: 5px 15px 10px 10px;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  float: left;
  height: 100%;
  position: absolute;
}

.ballevent-collapse .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 14px;
  color: inherit;
  max-width: 100%;
  position: absolute;
}

.ballevent-collapse .panel-title > div {
  padding-right: 0px;
}

.ballevent-collapse .panel-body {
  margin-left: 75px;
  padding: 2px 2px 2px 3px;
}

.ballevent-collapse .panel-body ul {
  margin-bottom: 0px;
}

div#runs-panel {
  overflow-x: scroll;
  overflow-y: hidden;
  width: 100%;
  padding: 5px 0px 5px 0px;
}

div#extras-panel {
  padding: 5px 0px 5px 0px;
}

div#runs-panel .list-inline {
  white-space: nowrap;
}

.selection-list-item {
  border: 1px solid #dddddd;
}

.selection-list-item .list-content {
  display: inline-block;
  height: 100%;
}

.selection-list-item .selection-index {
  color: #6f6f6f;
  font-weight: 600;
  text-align: center;
}

.selection-list-item .list-content.list-content-10 {
  width: 10%;
}

.selection-list-item .list-content.list-content-80 {
  width: 80%;
}

.selection-list-item .list-content.list-content-90 {
  width: 90%;
}

.ballevent-collapse.thin-panel .panel-body {
  margin-top: 4px;
}

.ballevent-actions a {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  height: 32px;
  text-shadow: none;
  text-transform: uppercase;
  transition: color 500ms, background 300ms;
}

.ballevent-actions a.option-button ~ ul a {
  text-transform: none;
}

.ballevent-actions a.save,
.ballevent-actions a.save:focus,
.ballevent-actions a.save:active {
  background: #ffffff;
  /*bootstrap-success color: #006dcc*/
  outline: #006dcc;
  color: #419641;
}

.ballevent-actions a.save.ok {
  background: #419641;
  color: #fff;
}

div.loader-on-component {
  margin: auto;
}

div.loader-wrapper {
  height: 50px;
  margin: auto;
  padding-top: 10px;
}

/*.ball-event-actions, .btn-info  a {
  background: #DD403A;
}*/

a.option-button {
  height: 100%;
}

.meta-tag {
  font-size: 14px;
  font-weight: bold;
  color: #6f6f6f;
  padding-left: 10px;
  display: inline-block;
}

.event-header {
  font-size: 12px;
  font-weight: 600;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
}

.div-header {
  background: #666;
  display: inline-block;
  padding: 0px 5px 0px 5px;
  border-top-right-radius: 10px;
  color: #fff;
  font-weight: 500;
}

.commentary-head {
  padding-left: 10px;
  padding-right: 5px;
}

.commentary-body table td {
  padding: 1px 2px;
  font-size: 14px;
  line-height: 16px;
  font-family: 'BentonSans', -apple-system, 'Roboto', Helvetica, Arial,
    sans-serif;
}

.commentary-body .match-over-text {
  text-align: center;
  color: #6c6d6f;
  font-size: 14px;
}

.commentary-body .match-over-encounter {
  text-align: center;
  line-height: 16px;
}

.commentary-body div {
  text-align: center;
  padding-left: 5px;
}

.commentary-body > ul > li {
  padding: 0px 2px;
}

.commentary-body span {
  /*display: inline-block;*/
}

.commentary-text span {
  display: inline;
}

.over-meta-wrapper > ul.list-inline {
  width: 40px;
  padding: 0px 5px 0px 0px;
}

div#dashboard-mode {
  margin-bottom: 10px;
}

.dashboard-row-title {
  /*label-danger bootstrap color*/
  color: #d9534f;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 5px 0;
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
}

.summary .add-ball-event {
  opacity: 0.4;
}

.white,
.white a {
  color: #6c6d6f;
}

.red9100 {
  color: #b71c1c;
}

.grey400 {
  color: #bdbdbd;
}

.grey500 {
  color: #757575;
}

.no-padding {
  padding: 0px;
}

div.thin-border {
  border: 1px solid #f1f2f3;
}

span.over-boundary {
  border-left: 1px solid #6f6f6f;
  padding: 0px 4px;
}

span.over-boundary:first-child {
  border-left: 0px;
  padding: 0px 4px;
}

.stat-cell {
  padding: 0px 5px;
  border-right-style: none;
}

div.stat-cell:last-child {
  border-right-style: initial;
}

.thin-border.stat-cell {
  /* so that borders are fixed*/
  min-height: 45px;
  border-bottom-style: none;
}

.stat-cell span {
  padding-top: 5px;
  padding-bottom: 5px;
}
.stat-cell span:first-child {
  padding-left: 0px;
}

.stat-cell span:last-child {
  padding-right: 0px;
  text-align: right;
}

.over-history .panel-heading {
  padding-left: 10px;
}

.over-history .panel-heading ul {
  margin-bottom: 0px;
  padding-bottom: 5px;
}

.over-history > .commentary-head {
  padding-bottom: 0px;
  border-style: none;
}

.over-balls .commentary-head {
  margin-bottom: 0px;
  border: 2px solid #f1f2f3;
}

.action-symbol {
  text-align: center;
  display: inline-block;
  opacity: 0.75;
  padding: 0px 1px;
  width: 30px;
  transition: height 0.1s ease-in-out;
  -webkit-transition: height 0.1s ease-in-out;
  -moz-transition: height 0.1s ease-in-out;
}

.action-row {
  padding: 10px 0px;
}

.action-symbol:hover,
.action-symbol:active {
  opacity: 1;
  transform: scale(1.1);
}

/* Ignore hover event on tablets or less */
@media screen and (max-width: 1048px) {
  .action-symbol:hover,
  .action-symbol:active {
    opacity: 0.5;
    transform: scale(1);
  }
}

.action-symbol span {
  display: block;
}

.glyphicon-undo:before {
  content: '\E030';
  transform: scale(-1, 1);
}

.ball-circle {
  display: inline-block;
  height: 25px;
  width: 25px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  position: relative;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  background: #fff;
  color: #6f6f6f;
  border: 2px solid #6f6f6f;
  transition: background 0.3s;
}

.ball-no-circle {
  display: inline-block;
  height: 25px;
  width: 10px;
  position: relative;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  background: #fff;
  color: #6f6f6f;
  transition: background 0.3s;
}

.ball-circle > p,
.ball-no-circle > p {
  /* undoing default margin */
  margin-bottom: 0px;
}

.run-buttons .ball-circle,
.non-editable-btn .ball-circle {
  height: 35px;
  width: 35px;
  font-size: 18px;
}

.run-buttons .ball-circle,
.non-editable-btn .ball-circle > p {
  /*relative to font-size to center-align horizontally*/
  line-height: 200%;
}

.non-editable-btn.narrow > button {
  font-size: 15px;
  vertical-align: middle;
  padding: 1px 5px;
  width: 20px;
}

li.non-editable-btn {
  line-height: 1em;
}

span.number-up {
  /*bootstrap-success*/
  background: #419641;
  color: #fff;
}

span.number-down {
  /*bootstrap-danger*/
  color: #d9534f;
}

.ball-circle.boundary {
  background: #6f6f6f;
  color: #fff;
  border: 2px solid #6f6f6f;
}

.ball-circle.wicket {
  background: #d00;
  color: #fff;
  border: 2px solid #d00;
}

.ballevent-collapse .panel-body .radio {
  margin-top: 0px;
}

.event-setup {
  display: block;
}

.left-put {
  display: inline-block;
  white-space: normal;
  margin-left: -20px;
  word-wrap: break-word;
}

span.left-icon {
  margin-right: 12px;
}

span.left-icon.left-meta-icon {
  color: #6f6f6f;
}

.game-header {
  border-color: #bee5eb;
  margin: 10px 0px 5px;
  font-weight: 400;
}

.fixed-header .game-header {
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  margin-top: 0px;
  color: #0c5460;
  background-color: #d1ecf1;
}

.header {
  font-size: 10px;
  color: #6f6f6f;
}

.meta-text {
  color: #6f6f6f;
}

.small-text {
  font-size: 10px;
}

.bold-meta-text {
  color: #6f6f6f;
  font-weight: 600;
}

.light-meta-text {
  color: #6f6f6f;
  font-weight: 200;
}

.light-text {
  color: #6f6f6f;
  font-weight: 200;
}

.scorer-login-toggle {
  background: #dfdfdf;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 65%;
  text-align: center;
  height: 26px;
  padding: 5px 10px 0px 10px;
}

.scorer-login-toggle > .scorer-login-text {
  font-size: 15px;
  line-height: 5px;
}

.scorer-login-text > span {
  display: inline-block;
  color: #666;
}

.toggle-container {
  position: absolute;
  /*`right` is governed by size of toggle button on mobile devices*/
  right: 65px;
}

.toggle-component {
  font-size: 2rem;
  color: #171717;
  width: 75px;
  height: 26px;
  background: #777777;
  border: 1px solid #555;
  position: relative;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  cursor: pointer;
  transition: border-color background-color 0.3s;
  margin: 0 auto;
}
.toggle-component.active {
  background: hsl(134, 39%, 54%);
  border-color: #dfdfdf;
}

.toggle-component::after {
  content: 'VIEWER';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 65%;
  font-size: 9px;
  font-family: Verdana, sans-serif;
  text-align: center;
  transition: left 0.3s;
}

.toggle-component .scorer-toggle-button {
  position: absolute;
  left: 0%;
  height: 26px;
  width: 26px;
  background: #dfdfdf;
  box-shadow: 0 0 5px #555;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  transition: left 0.3s;
}

.toggle-component.active .scorer-toggle-button {
  /*slide left --> width-of-toggle-component - width-of-button*/
  left: 50px;
}

.toggle-component.active::after {
  content: 'SCORER';
  color: white;
  display: block;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 35%;
  font-size: 9px;
  font-family: Verdana, sans-serif;
}
.dialog-footer {
  padding: 10px;
}
.dialog-button-toolbar {
  float: right;
}
.scorer-login-modal .modal-content {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  width: 60%;
  margin: 0 auto;
  padding: 20px;
}

@media screen and (max-width: 480px) {
  .scorer-login-modal .modal-content {
    width: 75%;
  }
}

.scorer-input > div {
  /* so that label can stay as successor sibling 
  but still be rendered ahead */
  display: -webkit-flex; /* Safari */
  -webkit-flex-direction: row-reverse; /* Safari 6.1+ */
  display: flex;
  flex-direction: row-reverse;
  padding-bottom: 3px;
  margin-bottom: 5px;
}

.scorer-input input,
.scorer-input textarea {
  width: 50%;
  flex: 1 0 auto; /*flex display enable*/
  outline: none;
  border: 0;
  font-size: 14px;
}

.scorer-input label {
  margin: auto;
  font-size: 13px;
  opacity: 0.1;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}

.scorer-input input:focus ~ label,
.scorer-input textarea:focus ~ label {
  opacity: 1;
}

:.scorer-input label::before {
  color: #fffce8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 30px;
}

.scorer-input > button#scorer-login-button {
  height: 32px;
}

label[for='username']::before {
  font-family: 'Glyphicons Halflings';
  content: '\e008';
}

label[for='email']::before {
  font-family: 'Glyphicons Halflings';
  content: '\2709';
}

label[for='matchPin']::before {
  font-family: 'Glyphicons Halflings';
  content: '\e033';
}

label[for='password']::before {
  font-family: 'Glyphicons Halflings';
  content: '\e033';
}

label[for='commentary-input']::before {
  font-family: 'Glyphicons Halflings';
  content: open-quote;
  font-size: 30px;
}

.center-block {
  display: block;
  text-align: center;
}

.text-block {
  display: inline-block;
}

.validation-info {
  padding: 5px;
  margin-bottom: 0px;
}

.ball-event-setup .title {
  display: block;
  text-align: center;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 10px 0;
}

.ball-event-setup button.form-submit {
  margin: 15px 0 5px 0;
  text-shadow: none;
  display: block;
}

.svg-icon-wrapper {
  display: inline-block;
}

div.no-padding {
  padding: 0px;
}

div.over-ball-meta-wrapper {
  display: inline-block;
  width: 30px;
  vertical-align: middle;
}

div.over-ball-meta-wrapper li {
  padding: 0px;
}

ul.over-ball-body {
}

.icon-right-label {
  margin: 0px 5px;
  font-size: 13px;
}

.icon-left-label {
  margin: 0px 5px;
  font-size: 13px;
}

.powerplay-sidestrip {
  color: #fff;
  z-index: 0;
  position: absolute;
  padding-left: 0px;
  padding-right: 0px;
  left: 10px;
  top: 0%;
  height: 100%;
  background: #d9534fbd;
  width: 15px;
  /*border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;*/
  border-left: solid 1px;
  border-color: #ccc;
}

.powerplay-sidestrip > span {
  transform: rotate(-90deg);
  top: 70%;
  position: absolute;
  width: 100%;
}

.scorer-input-button {
  max-width: 75%;
  line-height: 1.75em;
  margin: auto;
  text-align: left;
}

/* Fade away */
.fade-enter {
  opacity: 0.01;
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.fade-leave {
  opacity: 1;
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

/* Wait before disappear/appear */
.fade-wait-leave,
.fade-wait-delay-leave {
  opacity: 1;
}
.fade-wait-leave.fade-wait-leave-active,
.fade-wait-delay-leave.fade-wait-delay-leave-active {
  opacity: 0;
  transition: opacity 0.4s ease-in;
}

.fade-wait-enter,
.fade-wait-delay-enter {
  opacity: 0;
}
.fade-wait-enter.fade-wait-enter-active,
.fade-wait-delay-enter.fade-wait-delay-enter-active {
  opacity: 1;
  /* Delay the enter animation until the leave completes */
  transition: opacity 0.4s ease-in 0.4s;
}

.fade-wait-height {
  transition: height 0.8s ease-in-out;
}
.fade-wait-delay-height {
  /* Delay the height animation until the leave completes */
  transition: height 0.4s ease-in-out 0.4s;
}

/* Cross-fade transition */

.cross-fade-leave {
  opacity: 1;
}
.cross-fade-leave.cross-fade-leave-active {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.cross-fade-enter {
  opacity: 0;
}
.cross-fade-enter.cross-fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.cross-fade-height {
  transition: height 0.5s ease-in-out;
}

/* Roll-up transition */

.roll-up-leave {
  transform: translate(0, 0);
  opacity: 1;
}
.roll-up-leave.roll-up-leave-active {
  height: translate(0, -100%);
  opacity: 0;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.roll-up-enter {
  height: translate(0, 100%);
  opacity: 0;
}
.roll-up-enter.roll-up-enter-active {
  transform: translate(0, 0);
  opacity: 1;
  transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}

.roll-up-height {
  transition: height 0.8s ease-in-out;
}

.bs-example {
  position: relative;
  padding: 45px 15px 15px;
  margin: 0 -15px 15px;
  border-color: #e5e5e5 #eee #eee;
  border-style: solid;
  border-width: 1px 0;
  box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.05);
}

.bs-example:after {
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 12px;
  font-weight: 700;
  color: #959595;
  text-transform: uppercase;
  letter-spacing: 1px;
  content: 'Example';
}

.match-commentary .back-to-top {
  border: #06c 1px solid;
  border-radius: 4px;
  bottom: 50px;
  font-size: 20px;
  height: 36px;
  line-height: 30px;
  position: absolute;
  right: 10px;
  text-align: center;
  width: 36px;
  z-index: 1000001;
}
